@import "_variables.scss";
@import "nav.scss";
@import "allDocs.scss";
@import "singleDoc";
@import "modalContainer";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
  color: $text;
  background: $background-neutral;
  // max-width: 50rem;
}
