.nav {
  display: flex;
  a {
    background: $background-color;
    padding-top: 5%;
    font-size: 1.2rem;
    font-weight: 100;
    // margin-top: 5vh;
    // display: inline-flex;
    height: 10vh;
    flex: calc(100/3);
    text-decoration: none;
    align-self: center;
    text-align: center;
    color: $background-neutral;
    &:hover {
      background: rgba($background-color, .9);
    }
  }
}
